[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
baseballclerk = {editable = true, path = "."}

[dev-packages]
pylint = "*"
pyreadline = "*"

[requires]
python_version = "3.7"
